---
titlebar:
title: Give Your Store a <strong>Conversion Makeover</strong>
subtitle: Get actionable feedback to increase sales from conversion & marketing experts
---

<% latest_teardown = data.teardowns[0] %>
    
    <div class="inner-bg">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text wow fadeInUp">
                    <h1><%= current_page.data.title %></h1>
                    <div class="description">
                        <p><%= current_page.data.subtitle %></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 wow fadeInUp">
                    <div class="youtube">
                        <iframe width="853" height="480" src="http://www.youtube.com/embed/<%= latest_teardown.youtube_id %>?rel=0&amp;showinfo=0&amp;controls=1&amp;iv_load_policy=3&amp;wmode=transparent&amp;autohide=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text wow fadeInUp">
                    <div class="sub description">
                        <p>
                            <%= latest_teardown.title %>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

<!-- Subscribe Form -->
<div class="subscribe-area wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-offset-1 text wow fadeInLeft animated">
                <p class="subscribe-text">
                    Keep me updated!
                </p>
            </div>
            <div class="col-md-7 text wow fadeInUp animated">
                <div class="subscribe">
                    <form class="form-inline" role="form" action="//quickjack.us2.list-manage.com/subscribe/post?u=5a9c805af5eb623a67d39e8dd&amp;id=29e009049d" method="post">
                        <div class="form-group">
                            <label class="sr-only" for="subscribe-email">Email address</label>
                            <input type="text" name="FNAME" placeholder="First name" class="subscribe-fname form-control" id="subscribe-fname">
                            <input type="text" name="EMAIL" placeholder="Email" class="subscribe-email form-control" id="subscribe-email">
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_208f36fee9ec73b69fa3351ec_4d140e525b" tabindex="-1" value="">
                        </div>
                        <button type="submit" class="btn subscribe-button">Subscribe</button>
                    </form>
                    <div class="success-message"></div>
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Introduction -->
<div class="section-container section-container-gray-bg">
    <div class="container">

        <br />
        <div class="col-sm-12 more-features section-description wow fadeIn">
            <h2>Are you stuck?</h2>
            <p class="medium-paragraph">
            The design of your eCommerce store and the content on it has an enormous impact on what your visitors do. You might have already tried a couple of changes to increase sales; or maybe even much, much more.
        </p>
            <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>

        <div class="row">
            <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
                <div class="always-beautiful-box-text always-beautiful-box-text-left">



                    <!-- Main Text -->
                    <br />

                    <p>
                        We’re here to help you. We are just 2 friendly experts who want to see you grow your business. We give you specific over the shoulder feedback on the User Interface on your site, the content and a walk-through a usual buyer's journey. 
                    </p>
                    <p>
                        Tune in to our crisp 15-minute sessions where Jevin Maltais - an Ecommerce Conversion & Optimization expert & Tejaswi Raghurama - a Content marketing expert will teardown your Shopify sites to make them better. 
                    </p>

                    <br />

                    <p>
                        In each teardown session, you’ll get 5 important takeaways:
                    </p>
                    <ul>
                        <li>Get UX best practices to convert buyers into visitors</li>
                        <li>3 second test</li>
                        <li>Copywriting tips to hook visitors to your products</li>
                        <li>A buyer's journey and steps to take to immediately improve conversions</li>
                        <li>A cheat-sheet with all the best tips and takeaways</li>
                    </ul>

                    <br />

                    <p>
                        You don’t want to miss it – the information you get on this FREE online session is worth hundreds of dollars to paying clients.
                    </p>
                    <p>
                        If you’re ready to take your sales to the next level, submit your site url here. There are only limited slots available, so email now
                    </p>
                    <!-- /Main Text -->



                </div>
            </div>
            <div class="col-sm-5 always-beautiful-box wow fadeInUp">
                <img class="tpad-60" src="img/devices/pc2.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Typeform section -->
<div class="section-container">
    <div class="container tpad-60">
        <div class="col-sm-12 more-features section-description wow fadeIn">
            <h2>Want to request a store to be torndown?</h2>
            <p class="medium-paragraph tpad-40">
                Simply email me and we'll see if we can fit it in: <a href="mailto:jevin@quickjack.ca">jevin@quickjack.ca</a>.
            </p>
        </div>
    </div>
</div>

<!-- More features -->
<div class="more-features-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 more-features section-description wow fadeIn">
                <h2>Previous Teardowns</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="tpad-40"></div>
        <%
        i = 0
        data.teardowns.drop(1).each do |teardown|
        i = i + 1
        if i == 1 %>
        <div class="row">
        <% end %>
        
            <div class="col-sm-4 wow fadeInUp teardown-archive">
                <% link_to teardown.slug do %>
                    <img src="http://img.youtube.com/vi/<%= teardown.youtube_id %>/mqdefault.jpg">
                    <p><%= teardown.title %></p>
                <% end %>
            </div>        

        <% if i == 3 %>
        </div>
        <%
        end
        end
        if i < 3 %>
        </div>
        <% end %>
    </div>
</div>
